@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");

body{
  background-image: url("../assets/sprites/Fondo_Papel.jpg");
  background-size: cover;
}

.contenedor{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.boton{
  font-family: "Macondo Swash Caps", cursive;
  font-size: 20px;
  color:black;
  display: block;
  background-color: bisque;
  text-align: center;
  width: 200px;
  height: 70px;
}

h1 {
  text-align: center;
  font-family: "Macondo Swash Caps", cursive;
}

h2 {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 200;
  color:bisque;
  margin-left: 200px;
}